APP_DEBUG=true

[APP]
DEFAULT_TIMEZONE=Asia/Shanghai

[DATABASE]
TYPE=mysql
HOSTNAME=127.0.0.1
DATABASE=
USERNAME=root
PASSWORD=
HOSTPORT=3306
CHARSET=utf8mb4
PREFIX=
DEBUG=false
AUTO_TIMESTAMP=true
CREATE_TIME_FIELD=create_time
UPDATE_TIME_FIELD=update_time
TIMESTAMP_VALUE_TYPE=unix
MAX_OPEN_CONNS=25
MAX_IDLE_CONNS=10
CONN_MAX_LIFETIME_SECONDS=300
CONN_MAX_IDLE_TIME_SECONDS=0
PARAMS={}

[LANG]
DEFAULT_LANG=zh-cn
